<app-top-bar></app-top-bar>
<app-product-list></app-product-list>
<footer class="container-fluid bg-dark">
  <div class="row py-2">
    <div class="col">
      <p class="text-center text-light">
        Desenvolvido por
        <a href="https://github.com/PedroSalvino">Pedro Salvino</a> RA
        0050831921022
      </p>
    </div>
  </div>
</footer>
