<main class="container">
  <div class="row">
    <div class="col">
      <h1 class="h2 text-center my-3">Produtos</h1>

      <div class="card my-3" *ngFor="let item of getProducts()">
        <h2 class="h5 text-center my-1">{{ item.name }}</h2>
        <div class="card-body">
          <p>
            {{ item.desc }}
          </p>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 col-6 mx-auto">
            <app-product-alerts
              [product]="item"
              (notify)="onNotify()"
            ></app-product-alerts>
            <button class="btn btn-info" (click)="share()">Compartilhe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
