<nav class="navbar navbar-dark bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> PLStore </a>

    <div>
      <button class="btn btn-info text-light">Checkout</button>
    </div>
  </div>
</nav>
